<div class="proyecto">
    <div class="contenido">
        <img src={{imagenLink}} alt={{titulo}}>
        <h3>{{titulo}}</h3>
        <p>{{descripcion}}
        </p>
    </div>

    <div class="link">
        <a href={{pageLink}} target="_blank">Visitar Pagina</a>
    </div>
</div>